thead {color: red;}
tbody {color: blue;}
table, th, td {
border: 1px;
}
html {
	margin: 0px auto;
}
h1 {
	background-color: #003767;
    color: white;
	padding: 10px;
	margin: 0px;
	text-decoration: underline;
	text-decoration-color: white;
}
h2 {
	clear: left;
}
footer {
	background-color: #000;
    color: white;
}
footer.foot {
	color: #fff;
}
    img {
        float: left;
        margin: 0 auto;
    }

    ul {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
    }
    li {
        float: left;
        text-align: justify;
        width: 80px;
        border: .5px solid;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
    }