<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Styles/lab1.css">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("PageHead", false)
</head>
<body>
    <div> 
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", false)


</body>
</html>
